.active-lease-page {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.active-lease-container {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Align items to the top */
    border: 1px solid #ddd; /* Light border around the container */
    border-radius: 10px; /* Rounded corners for the container */
    padding: 10px; 
    margin-top: 20px; /* Add spacing from the top */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
    background-color: #f9f9f9; /* Softer background color for contrast */
 
}

.active-lease-buttons {
    display: flex;
    font-size: 18px;
    flex-direction: column; /* Stack buttons vertically */
    justify-content: flex-start; /* Align buttons to the top */
    align-items: center; /* Center buttons horizontally */
    gap: 15px; /* Add spacing between buttons */
    flex-shrink: 0; /* Prevent buttons from shrinking */
    margin-left: 20px; 
    font-weight: bold;
}

.add-contract-button{
  padding: 10px 15px;
    font-weight:700;
    font-size: 15px; 
    border-radius: 25px; 
    border: #4CAF50 solid 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 180px;
    text-align: center;
    background-color: white;
    color: #4CAF50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .add-contract-button:hover{
    background-color: #4CAF50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    transform: translateY(-1px);
  }

  .browse-button:hover{
    color:blue;
    cursor:pointer;
    text-decoration: underline;
  }



  .drop-zone {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 20px, 20px;
    text-align: center;
    background-color: #f9f9f9;
    height:280px;
    transition: background-color 0.3s ease;
    padding-top:0px;
   
}
.drop-zone.dragging {
  background-color: #e6f7ff; /* Light blue for an active drop zone */
}
.drop-zone:hover {
    background-color:  #f5f5f5; /* Highlight when hovered */
}


.have-active-lease-container{
    width:100%;
}


/* Styling for the table row */
.lease-doc {
    background-color: #f3f4f6; /* Light gray background for the row */
    text-align: center; /* Center-align the content */
    padding: 15px;
    border-bottom: 1px solid #ddd; /* Add a subtle border between rows */
  }
  
  /* Styling for the link */
  .lease-link {
    display: inline-block; /* Makes the link behave like a button */
    background-color: #007bff; /* Professional blue background */
    color: #fff; /* White text */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    font-size:15px;
    padding: 10px 20px; /* Add padding for button-like appearance */
    border-radius: 25px; /* Slightly rounded corners for a modern look */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for a raised effect */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
  }
  
  
  .lease-link:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Slightly more pronounced shadow */
    text-decoration: underline; /* Add underline on hover */
  }
  

.no-active-lease-container{
    width: 100%;
    display:flex;
    justify-content: space;
    align-items: center;
}

.no-lease-info-table{
    width:60%;
    background-color: white;
}

/* General button styling */
.edit-lease-button,
.delete-lease-button
 {
    padding: 10px 15px;
    font-weight:700;
    font-size: 15px; 
    border-radius: 25px; 
    border: #FF8C00 solid 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    text-align: center;
    background-color: white;
    color: #FF8C00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.new-lease-button{
    padding: 8px 15px;
    font-weight:700;
    font-size: 15px; 
    border-radius: 25px; 
    border: #4CAF50 solid 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    text-align: center;
    background-color: white;
    color: #4CAF50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-lease-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow */
    transform: translateY(-4px); /* Slightly higher lift effect */
    background: linear-gradient(90deg, #4CAF50, #4CAF50); /* Gradient effect */
    color: white; /* Change text color on hover for contrast */
    border-color: #4CAF50; /* Slightly lighter border */
    transition: all 0.2s ease-in-out; /* Smooth and responsive transition */

}


.current-lease-section{
    display:flex;
    justify-content: space-between;
}


.edit-lease-button:hover {
  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow */
    transform: translateY(-4px); /* Slightly higher lift effect */
    background: linear-gradient(90deg, #FF8C00, #FFA500); /* Gradient effect */
    color: white; /* Change text color on hover for contrast */
    border-color: #FFA500; /* Slightly lighter border */
    transition: all 0.2s ease-in-out; /* Smooth and responsive transition */
}

/* Delete Property Button */
.delete-lease-button {
    background-color: #D9534F; /* Muted red for delete */
}

.delete-lease-button:hover {
    background-color: #C9302C; /* Slightly darker red on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}
.expired-lease-table{
  width: 100%;
}
.expired-lease-table-header th {
    vertical-align: middle; /* Vertically center text */
    text-align: center; /* Horizontally center text */
    padding: 10px; /* Adds spacing for readability */
    background-color:#008080; /* Optional: Light gray background for the header */
    font-weight: bold; /* Optional: Bold font for headers */
}

.expired-lease-table-body td {
    vertical-align: middle; /* Aligns text vertically in the middle */
    text-align: center; /* Optional: Aligns text horizontally to the center */
    padding: 10px; /* Optional: Adds padding for better spacing */
}

/* Styling for the property-info table */
.lease-info-table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #fff; /* White background for the table */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for the table */
    border-radius: 8px; /* Rounded corners for a clean look */
}




.lease-info-table td {
    padding: 15px;
    vertical-align: middle;
    text-align: left;
    border-bottom: 1px solid #ddd;
}




.toggle-expand-button {
    padding: 10px 15px;
    font-weight:600;
    font-size: 16px; /* Updated font size */
    border-radius: 8px; /* Slightly less rounded corners for a professional look */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 22%;
    text-align: center;
    background-color: transparent;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-left:78%;
}

.current-lease-title{
    text-align: center;
    font-weight: bold;
}

.confirm-delete-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #888; /* Border around the form */
    width: 350px;
    height: 250px;
    margin: 0 auto; /* Center the form horizontally */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  
.confirm-delete-form h1{
    margin-bottom: 0px;
   
  }
  
  /* Paragraph styling */
  .confirm-delete-form p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 0px;
    /* border: solid 1px red; */
  }
  
  
  .days-remaining {
    font-weight: bold;
    font-size: 18px; /* Adjust font size */
    text-align: center; /* Center-align the text */
    color: black; /* Darker text color for readability */
    
  }
  

.delete-contract-button{
    padding: 10px 15px;
    font-weight:700;
    font-size: 15px; 
    border-radius: 25px; 
    border: #FF8C00 solid 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 180px;
    text-align: center;
    background-color: white;
    color: #FF8C00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .delete-contract-button:hover{

    background-color: #C9302C; /* Slightly darker red on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    transform: translateY(-1px);
  }

  .file-upload-container {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Align span and input vertically */
    gap: 10px; /* Add space between the span and the input */
  }

  input[type="file"] {
      cursor: pointer; /* Make it clear that input is clickable */
  }

.table-button-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  /* Button styles */
.yes-button, .no-button {
    display: block;
    width: 100%; /* Full width button */
    padding: 10px;
    margin-bottom: 15px; /* Spacing between buttons */
    font-size: 16px;
    border: 2px solid black; /* Black border */
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Yes (Delete Spot) button styling */
  .yes-button {
    background-color: #ff4d4d; /* Red background for delete */
    color: white;
  }
  
  
  
  /* No (Keep Spot) button styling */
  .no-button {
    background-color: green; /* Dark grey background for keep spot */
    color: white;
  
  }

  .add-lease-button{
    padding: 8px 15px;
    font-weight:700;
    font-size: 15px; 
    border-radius: 25px; 
    border: #4CAF50 solid 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    text-align: center;
    background-color: white;
    color: #4CAF50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-lease-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow */
    transform: translateY(-4px); /* Slightly higher lift effect */
    background: linear-gradient(90deg, #4CAF50, #4CAF50); /* Gradient effect */
    color: white; /* Change text color on hover for contrast */
    border-color: #4CAF50; /* Slightly lighter border */
    transition: all 0.2s ease-in-out; /* Smooth and responsive transition */

}

  .upload-button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff; /* Professional blue */
    border: none;
    border-radius: 30px;
    margin-top: 15px;
    width:200px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    text-decoration: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.upload-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow */
}
  